/Model Development/checkpoints/*
/Model Development/dataset/*
/Model Development/clusters/*
/Static Analysis/utils/__pycache__
/Static Analysis/Data/*
/Data Manipulation/Segmentation/output
/Visualizations/*
__pycache__/
*.py[cod]
*.so
*.pt
*.zip
*.safetensors
*.pt
*.bin
*.pth
*.jpg
*.png
*.csv
config.json
trainer_state.json
.env